@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

/* Reset the default values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
}

.card{
    background-color: hsl(216, 50%, 16%);
    width: 400px;
    height: 650px;
    
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);

}

.card_image{
    width: 90%;
    height: 50%;
    vertical-align: middle;

    margin: 20px;
    border-radius: 20px;

    overflow: hidden;


}
.card_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_title{
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
    text-align: start;
    color: hsl(0, 0%, 100%);
}




/* Footer */
footer {
  margin-top: 50px;
  top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: hsl(217, 54%, 11%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
